body {
  background-color: #f7e7ce;
}

footer {
  left: 0;
  bottom: 0;
  right: 0;
  padding: 20px;
  background-color: #faaf2a;
  display: grid;
  place-content: center;
  grid-template-areas: "logo socials" "links links";
  grid-template-columns: repeat(2, lfr);
  color: black;
}

.marca-texto {
  /* Titulos */
  font-family: "ABeeZee", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.subtitulo {
  display: flex;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  text-align: center;
}

.texto {
  font-family: "Roboto", sans-serif;
  /*font-optical-sizing: auto;*/
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "width" 100;
}

a {
  text-decoration: none; /* Quita el subrayado */
  color: inherit; /* Usa el color del texto padre */
  background: none; /* Elimina fondos predeterminados */
  border: none; /* Quita bordes si los hubiera */
}

a:visited,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.chicharriko {
  background-color: #faaf2a;
  border: 1px solid #faaf2a;
  color: #000;
}

.chicharriko:hover {
  background-color: #34623f;
  border: 1px solid #34623f;
  color: #f7e7ce;
}

.card-custom {
  max-width: 850px;
  margin: auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: "Roboto", sans-serif;
  color: #000;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-custom:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card-custom:last-child {
  margin-bottom: 30px;
}

.info-container {
  max-height: 150px;
  overflow-y: auto;
  padding: 10px;
  border-radius: 10px;
  font-size: 13px;
  text-align: justify;
}

.sub-card-t {
  font-size: 18px;
}

.p-card-t {
  color: #000;
}

.text-justify {
  text-align: justify;
  font-family: "Roboto", sans-serif;
}

.text-center {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.text-espacio {
  margin-left: 50px;
}
